.markdown-custom p {
    margin: 0 !important;
}

.react-multi-carousel-item {
    list-style-type : none !important;
    margin: 0 30px 0 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
}

.react-multiple-carousel__arrow--right {
    right : 0px !important;
}

.react-multiple-carousel__arrow--left {
    left : 0px !important;
}